fastapi
uvicorn
celery==5.3.6
redis==5.0.1
langchain
langchain-google-genai
sqlalchemy
asyncpg
alembic
pandas
python-multipart
pydantic-settings
psycopg2-binary
flower
httpx==0.28.1
pytest==9.0.2
pytest-asyncio==1.3.0
